.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 9999px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 transparent;
  }
  